---
import 'bootstrap/dist/css/bootstrap.css';
import Favicon from '../assets/img/favicon.png';

import Footer from '../components/Footer.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Luciano Giacchetta is an experienced IT consultant. Specialized in DevOps, Cloud, and Development. Available for hourly contracts. Contact me about your project and get free consulting hours." />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="icon" type="image/png" href={Favicon.src} />
		<meta name="generator" content={Astro.generator} />
		<meta name="google-site-verification" content="qLfc52ow5_XRAzYc684AOcsb7LSTM9gJtLZwSFFHuP4" />
		<meta name="msvalidate.01" content="A77EF2A041C9672BEB0B6E4DCAFD911C" />
		<title>{title}</title>
	</head>
	<body class="bg-light">
		<slot />
		<Footer/>		
	</body>
</html>
<script src="bootstrap/dist/js/bootstrap.js"></script>
<style is:global>
	@media (min-width: 992px) {
	.layout {
		max-width: 75%;
		}
	}

	@media (min-width: 1400px) {
	.layout {
		max-width: 50%;
		}
	}	
</style>
