---
import Layout from '../layouts/Layout.astro';
import Credentials from '../components/Credentials.astro';
import { useTranslations } from '../i18n/utils';

const locale = Astro.currentLocale ?? 'en';
const t = useTranslations(locale);
---
<Layout title={`${t('credentials.pageTitle')} | ${t('bio.name')}`}>
  <main class="container layout mt-3 mb-5">
    <h1 class="display-5 fw-bold mb-4">{t('credentials.pageTitle')}</h1>
    <Credentials/>
  </main>
</Layout>
