---
const date = new Date();
---
<footer>
	<div class="container layout text-center">
		<small>Last Update: {date.toDateString()}</small>
		<p>
			<a href="https://github.com/giacchetta">GitHub</a>
			<a href="https://gianet.us/giacchetta">GiaNet</a>
			<a href="https://www.linkedin.com/in/giacchetta/">LinkedIn</a>
			<a href="https://twitter.com/luchogiacchetta">Twitter</a>
		</p>
	</div>
</footer>