---
import { Image } from 'astro:assets';
import Whatsapps from '../assets/svg/WhatsAppButtonGreenMedium.svg';
---
<div class="position-fixed" style="z-index: 12">
  <a class="btn" id="chatSection" href="https://wa.me/59897995367">
    <figure class="position-fixed bottom-0 end-0 translate-middle" data-aos="fade-up">
      <Image src={Whatsapps} alt="Whatsapp logo" />
    </figure>
  </a>
</div>
