---
import { Picture } from 'astro:assets';
import Profile from '../assets/img/profile.png';
import Layout from '../layouts/Layout.astro';
import Contact from '../components/Contact.astro';
import Collaboration from '../components/Collaboration.astro';
import Credentials from '../components/Credentials.astro';
import Certifications from '../components/Certifications.astro';
---

<Layout title="Luciano Giacchetta | IT Consulting">
	<main>
		<div class="container layout mt-2">
			<h1>Luciano Giacchetta</h1>
		</div>
		<div class="container layout mt-2">
			<div class="row">
				<div class="col-0 col-md-3 col-lg-3 col-xl-3">
					<Picture
					class="img-thumbnail"
					src={Profile}
					alt="Profile"
					loading="eager"
					></Picture>
				</div>
				<div class="col-12 col-md-9 col-lg-9 col-xl-8">
					<p class="description text-justified p-1">
						I have been working in the IT industry for two decades, from System Engineering and Network Infrastructure Design to Cloud Architecture and DevOps Engineer in many successful companies helping them to innovate with state-of-art designs based on the AWS Well-Architecture framework. Those designs allow implementing a rock-solid and automated integration and delivery solution that leverages an auto-scalable and self-healing container ecosystem.
					</p>
					<Contact/>
				</div>
			  </div>			
		</div>
		<div class="container layout mt-2">
			<Credentials/>
			<Contact/>
		</div>
		<div class="container layout mt-2">
			<Collaboration/>
			<Contact/>
		</div>
		<div class="container layout mt-2">
			<!-- <Certifications/>
			<Contact/> -->
		</div>
	</main>
</Layout>
