---
import { Image } from 'astro:assets';
import Layout from '../layouts/Layout.astro';
import Collaboration from '../components/Collaboration.astro';

import Profile from '../assets/img/profile.png';

---

<Layout title="Giacchetta Consulting">
	<main>
		<div class="container layout mt-2">
			<h1>Giacchetta Consulting</h1>
		</div>
		<div class="container layout mt-2">
			<div class="row">
				<div class="col-0 col-md-3 col-lg-3 col-xl-3">
					<Image
					class="img-thumbnail"
					src={Profile}
					alt="Profile Image"
					></Image>
				</div>
				<div class="col-12 col-md-9 col-lg-9 col-xl-8">
					<p class="description text-justified p-1">I have been working in the IT industry for two decades, from System Engineering and Network Infrastructure Design to Cloud Architecture and DevOps Engineer in many successful companies helping them to innovate with state-of-art designs based on the AWS Well-Architecture framework. Those designs allow implementing a rock-solid and automated integration and delivery solution that leverages an auto-scalable and self-healing container ecosystem.
					</p>
				</div>
			  </div>			
		</div>
		<div class="container layout mt-2">
			<h2>Credentials</h2>
			<ul>
				<li class="list-unstyled">
					<h3>Public Cloud</h3>
					<table class="table">
						<thead>
						  <tr>
							<th scope="col">#</th>
							<th scope="col">Product</th>
							<th scope="col">Type</th>
							<th scope="col">Name</th>
						  </tr>
						</thead>
						<tbody>
						  <tr>
							<th scope="row">1</th>
							<td>AWS</td>
							<td>Applied Skill</td>
							<td>VPC Design & Implementation</td>
						  </tr>
						  <tr>
							<th scope="row">2</th>
							<td>AWS</td>
							<td>Applied Skill</td>
							<td>EC2 Administration</td>
						  </tr>
						  <tr>
							<th scope="row">3</th>
							<td>AWS</td>
							<td>Applied Skill</td>
							<td>CloudFormation Automation</td>
						  </tr>
						  <tr>
							<th scope="row">4</th>
							<td>AWS</td>
							<td>Applied Skill</td>
							<td>CloudWatch Monitoring</td>
						  </tr>		
						  <tr>
							<th scope="row">5</th>
							<td>AWS</td>
							<td>Applied Skill</td>
							<td>ECS & EKS Container Orchestration</td>
						  </tr>								  				  						  						  				  						  
						  <tr>
							<th scope="row">6</th>
							<td>AWS</td>
							<td>Applied Skill</td>
							<td>DynamoDB Administration</td>
						  </tr>								  				  						  						  				  						  
						  <tr>
							<th scope="row">7</th>
							<td>AWS</td>
							<td>Applied Skill</td>
							<td>CodeDeploy</td>
						  </tr>								  				  						  						  				  						  
						  <tr>
							<th scope="row">8</th>
							<td>AWS</td>
							<td>Applied Skill</td>
							<td>CodePipeline</td>
						  </tr>								  				  						  						  				  						  
						  <tr>
							<th scope="row">9</th>
							<td>AWS</td>
							<td>Applied Skill</td>
							<td>IAM Security & Accountability</td>
						  </tr>								  				  						  						  				  						  
						  <tr>
							<th scope="row">10</th>
							<td>GCP</td>
							<td>Applied Skill</td>
							<td>VPC Design & Implementation</td>
						  </tr>								  				  						  						  				  						  
						  <tr>
							<th scope="row">11</th>
							<td>GCP</td>
							<td>Applied Skill</td>
							<td>VPC Design & Implementation</td>
						  </tr>								  				  						  						  				  						  
						  <tr>
							<th scope="row">12</th>
							<td>GCP</td>
							<td>Applied Skill</td>
							<td>VMs Configuration & Administration</td>
						  </tr>								  				  						  						  				  						  
						  <tr>
							<th scope="row">13</th>
							<td>GCP</td>
							<td>Applied Skill</td>
							<td>GKE Container Orchestration</td>
						  </tr>								  				  						  						  				  						  
						  <tr>
							<th scope="row">14</th>
							<td>GCP</td>
							<td>Applied Skill</td>
							<td>IAM Security & Accountability</td>
						  </tr>
						</tbody>
					</table>
				</li>
				<li class="list-unstyled">
					<h3>Private Cloud & NoCloud</h3>
					<table class="table">
						<thead>
						  <tr>
							<th scope="col">#</th>
							<th scope="col">Product</th>
							<th scope="col">Type</th>
							<th scope="col">Name</th>
						  </tr>
						</thead>
						<tbody>
						  <tr>
							<th scope="row">1</th>
							<td>Red Hat</td>
							<td>Applied Skill</td>
							<td>Ansible Platform Automation</td>
						  </tr>
						  <tr>
							<th scope="row">2</th>
							<td>Red Hat</td>
							<td>Applied Skill</td>
							<td>OpenShift Container Orchestration</td>
						  </tr>						  
						  <tr>
							<th scope="row">3</th>
							<td>Hashicorp</td>
							<td>Applied Skill</td>
							<td>Terraform</td>
						  </tr>
						  <tr>
							<th scope="row">4</th>
							<td>Github</td>
							<td>Applied Skill</td>
							<td>Github Actions</td>
						  </tr>
						  <tr>
							<th scope="row">5</th>
							<td>Gitlab</td>
							<td>Applied Skill</td>
							<td>Gitlab CI</td>
						  </tr>
						  <tr>
							<th scope="row">6</th>
							<td>Jenkins</td>
							<td>Applied Skill</td>
							<td>Jenkins Pipelines</td>
						  </tr>
						  <tr>
							<th scope="row">7</th>
							<td>Kubernetes</td>
							<td>Applied Skill</td>
							<td>Kubernetes Container Orchestration</td>
						  </tr>
						  <tr>
							<th scope="row">8</th>
							<td>Istio</td>
							<td>Applied Skill</td>
							<td>Ingress & Security</td>
						  </tr>
						  <tr>
							<th scope="row">9</th>
							<td>Mongo</td>
							<td>Applied Skill</td>
							<td>MongoDB</td>
						  </tr>
						  <tr>
							<th scope="row">10</th>
							<td>Elastic</td>
							<td>Applied Skill</td>
							<td>ElasticSearch Clustering</td>
						  </tr>
						  <tr>
							<th scope="row">11</th>
							<td>Docker</td>
							<td>Applied Skill</td>
							<td>Engine & Compose</td>
						  </tr>
						  <tr>
							<th scope="row">12</th>
							<td>Monitoring</td>
							<td>Applied Skill</td>
							<td>Prometheus & Grafana</td>
						  </tr>
						</tbody>
					</table>
		
				</li>	
				<li class="list-unstyled">
					<h3>Development</h3>
					<table class="table">
						<thead>
						  <tr>
							<th scope="col">#</th>
							<th scope="col">Product</th>
							<th scope="col">Type</th>
							<th scope="col">Name</th>
						  </tr>
						</thead>
						<tbody>
						  <tr>
							<th scope="row">1</th>
							<td>Google</td>
							<td>Applied Skill</td>
							<td>Firebase Framework</td>
						  </tr>
						  <tr>
							<th scope="row">2</th>
							<td>JavaScript</td>
							<td>Applied Skill</td>
							<td>Node.js</td>
						  </tr>
						  <tr>
							<th scope="row">3</th>
							<td>Python</td>
							<td>Applied Skill</td>
							<td>Python 3.10</td>
						  </tr>
						  <tr>
							<th scope="row">4</th>
							<td>Bash</td>
							<td>Applied Skill</td>
							<td>Bash Scripting</td>
						  </tr>
						  <tr>
							<th scope="row">5</th>
							<td>Serverless</td>
							<td>Applied Skill</td>
							<td>AWS Lambda</td>
						  </tr>
						  <tr>
							<th scope="row">6</th>
							<td>Serverless</td>
							<td>Applied Skill</td>
							<td>GCP Cloud Functions</td>
						  </tr>
						</tbody>
					</table>
				</li>	
				<li class="list-unstyled">
					<h3>Networking & Security</h3>
					<table class="table">
						<thead>
						  <tr>
							<th scope="col">#</th>
							<th scope="col">Product</th>
							<th scope="col">Type</th>
							<th scope="col">Name</th>
						  </tr>
						</thead>
						<tbody>
						  <tr>
							<th scope="row">1</th>
							<td>Web</td>
							<td>Applied Skill</td>
							<td>Nginx</td>
						  </tr>
						  <tr>
							<th scope="row">2</th>
							<td>Web</td>
							<td>Applied Skill</td>
							<td>Apache</td>
						  </tr>
						  <tr>
							<th scope="row">3</th>
							<td>Load Balancing</td>
							<td>Applied Skill</td>
							<td>Traefik</td>
						  </tr>
						  <tr>
							<th scope="row">4</th>
							<td>VPN</td>
							<td>Applied Skill</td>
							<td>OpenVPN</td>
						  </tr>
						</tbody>
					</table>
		
				</li>															
			</ul>
		</div>
		<div class="container layout mt-2">
			<h2>Collaborations</h2>
			<!-- <Collaboration/> -->
		</div>
		<div class="container layout mt-2">
			<h2>Certifications</h2>
			<!-- <Certifications/> -->
		</div>
	</main>
</Layout>
<style>
	@media (min-width: 992px) {
	.layout {
		max-width: 75%;
		}
	}

	@media (min-width: 1400px) {
	.layout {
		max-width: 50%;
		}
	}	
</style>
