---
const date = new Date();
---
<footer>
	<div class="container layout text-center">
		<h4>Giacchetta Consulting</h4>
		<p style="margin-bottom: auto;">Av. Dr. Luis Alberto de Herrera 2472</p>
		<p style="margin-bottom: auto;">Montevideo, Uruguay</p>
		<p>RUT:219112870019</p>
		<small>{date.toDateString()}</small>
	</div>
</footer>